flows-nodered.json
[{"id":"6fc82bfc.24fcb4","type":"tab","label":"TISA_v1.0","disabled":false,"info":""},{"id":"7f49e1f2.ffa63","type":"serial in","z":"6fc82bfc.24fcb4","name":"arduinoDHT","serial":"47ff6d16.41db54","x":90,"y":40,"wires":[["ff7400d3.07428"]]},{"id":"ff7400d3.07428","type":"mqtt out","z":"6fc82bfc.24fcb4","name":"mosquittoPUB","topic":"tisa/sensor","qos":"1","retain":"","broker":"8660d658.5c3228","x":780,"y":40,"wires":[]},{"id":"a568824b.04de1","type":"debug","z":"6fc82bfc.24fcb4","name":"MQTT_msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":300,"wires":[]},{"id":"723fe850.d44fe8","type":"function","z":"6fc82bfc.24fcb4","name":"splitString","func":"var msg = {payload: msg.payload.toString(),\n        temperature: msg.payload.substring(6,11),\n           humidity: msg.payload.substring(0,5)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["6c4054e4.06dc0c","1551e687.6c2069","6d7997eb.934468","f23bb7d5.9a8578","708043e0.13d86c","b9827985.4a4968","9f6af9c6.813b88","21cdfe1e.7890a2"]]},{"id":"6ac2337b.bfa36c","type":"mqtt in","z":"6fc82bfc.24fcb4","name":"mosquittoSUB","topic":"tisa/sensor","qos":"1","datatype":"auto","broker":"8660d658.5c3228","x":90,"y":340,"wires":[["a568824b.04de1","723fe850.d44fe8"]]},{"id":"f23bb7d5.9a8578","type":"debug","z":"6fc82bfc.24fcb4","name":"temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"temperature","targetType":"msg","x":470,"y":480,"wires":[]},{"id":"6d7997eb.934468","type":"debug","z":"6fc82bfc.24fcb4","name":"hum","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"humidity","targetType":"msg","x":470,"y":520,"wires":[]},{"id":"708043e0.13d86c","type":"ui_gauge","z":"6fc82bfc.24fcb4","name":"","group":"41d4a8d0.28aa48","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{msg.temperature}} °C","min":"-10","max":"80","colors":["#00b500","#ecbc0e","#ca3838"],"seg1":"","seg2":"","x":490,"y":440,"wires":[]},{"id":"6c4054e4.06dc0c","type":"ui_gauge","z":"6fc82bfc.24fcb4","name":"","group":"98b00c9.bfe24f","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percentage","format":"{{msg.humidity}} %","min":0,"max":"100","colors":["#acc6dc","#0099e6","#3ab5cb"],"seg1":"","seg2":"","x":480,"y":560,"wires":[]},{"id":"3a51204d.e820f","type":"ui_chart","z":"6fc82bfc.24fcb4","name":"","group":"41d4a8d0.28aa48","order":6,"width":0,"height":0,"label":"Temperature Graphic","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":500,"wires":[[]]},{"id":"1551e687.6c2069","type":"ui_chart","z":"6fc82bfc.24fcb4","name":"","group":"98b00c9.bfe24f","order":6,"width":0,"height":0,"label":"Humidity Graphic","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":600,"wires":[[]]},{"id":"21cdfe1e.7890a2","type":"wiotp out","z":"6fc82bfc.24fcb4","authType":"d","qs":"true","qsDeviceId":"3de18918.f5b4e6","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"data_monitoring","x":1060,"y":340,"wires":[]},{"id":"28219c3a.531c24","type":"openweathermap","z":"6fc82bfc.24fcb4","name":"OpenWeather","wtype":"current","lon":"","lat":"","city":"florianopolis","country":"brasil","language":"pt","x":260,"y":180,"wires":[["2a2720a4.ab375","fbee5ca2.4db9f","af78158a.c4dda8","808b83b9.8e4c3"]]},{"id":"66d012df.1217ec","type":"ui_gauge","z":"6fc82bfc.24fcb4","name":"City Temperature","group":"72f4c5ac.482c7c","order":4,"width":0,"height":0,"gtype":"gage","title":"City Temperature","label":"Celsius","format":"{{value}}ºC","min":"-10","max":"50","colors":["#18ec69","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":140,"wires":[]},{"id":"1d1da0a8.baf49f","type":"ui_text","z":"6fc82bfc.24fcb4","group":"72f4c5ac.482c7c","order":2,"width":0,"height":0,"name":"Location","label":"Location:","format":"{{value}}","layout":"row-center","x":680,"y":100,"wires":[]},{"id":"2a2720a4.ab375","type":"function","z":"6fc82bfc.24fcb4","name":"Weather","func":"var local = {payload: msg.payload.location}\nvar temp = {payload: msg.payload.tempc}\nvar humid = {payload: msg.payload.humidity}\ncontext.global.locate = function(){return local.payload};\ncontext.global.tempOpen = function(){return temp.payload};\ncontext.global.humOpen = function(){return humid.payload};\nreturn [local, temp, humid];","outputs":3,"noerr":0,"x":480,"y":140,"wires":[["1d1da0a8.baf49f","ce10ea53.d01748"],["66d012df.1217ec"],["80edfd70.2ddff"]]},{"id":"80edfd70.2ddff","type":"ui_gauge","z":"6fc82bfc.24fcb4","name":"City Humidity","group":"72f4c5ac.482c7c","order":6,"width":0,"height":0,"gtype":"gage","title":"City Humidity","label":"Percentage","format":"{{value}}%","min":0,"max":"100","colors":["#c0e3e0","#86c4df","#47c2e1"],"seg1":"","seg2":"","x":690,"y":180,"wires":[]},{"id":"fbee5ca2.4db9f","type":"debug","z":"6fc82bfc.24fcb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":80,"wires":[]},{"id":"b9827985.4a4968","type":"function","z":"6fc82bfc.24fcb4","name":"returnTemp","func":"var temper = {payload: parseFloat(msg.temperature.toString())}\ncontext.global.localTemp = function(){return temper.payload};\nreturn temper;\n","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["3a51204d.e820f","d36adc18.2d81f"]]},{"id":"cefa3519.5d6808","type":"inject","z":"6fc82bfc.24fcb4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["28219c3a.531c24"]]},{"id":"b280a18c.3f2c9","type":"ui_numeric","z":"6fc82bfc.24fcb4","name":"","label":"numeric","tooltip":"","group":"41d4a8d0.28aa48","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"local_humid","format":"{{humid.parseFloat()}}","min":0,"max":"100","step":1,"x":680,"y":380,"wires":[["ce10ea53.d01748"]]},{"id":"9f6af9c6.813b88","type":"function","z":"6fc82bfc.24fcb4","name":"returnHumid","func":"var humid = {payload: parseFloat(msg.humidity.toString())}\ncontext.global.localHumid = function(){return humid.payload};\nreturn humid;\n","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["b280a18c.3f2c9"]]},{"id":"af78158a.c4dda8","type":"change","z":"6fc82bfc.24fcb4","name":"tempcOpen","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["76eaa606.a13188"]]},{"id":"d36adc18.2d81f","type":"ui_numeric","z":"6fc82bfc.24fcb4","name":"","label":"numeric","tooltip":"","group":"41d4a8d0.28aa48","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"local","format":"{{temper.parseFloat()}}","min":0,"max":10,"step":1,"x":680,"y":440,"wires":[["ce10ea53.d01748"]]},{"id":"808b83b9.8e4c3","type":"change","z":"6fc82bfc.24fcb4","name":"humidOpen","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["a5bc66d6.172338"]]},{"id":"91352bbe.540428","type":"debug","z":"6fc82bfc.24fcb4","name":"res","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":260,"wires":[]},{"id":"76eaa606.a13188","type":"ui_numeric","z":"6fc82bfc.24fcb4","name":"","label":"numeric","tooltip":"","group":"98b00c9.bfe24f","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"open","format":"{{value}}","min":0,"max":10,"step":1,"x":680,"y":220,"wires":[["ce10ea53.d01748"]]},{"id":"ce10ea53.d01748","type":"function","z":"6fc82bfc.24fcb4","name":"DataProcess","func":"var res_temp = \"\";\nvar res_humi = \"\";\n\nif (context.global.localHumid() >= context.global.humOpen()){\n  res_humi = \"mais úmido\";\n}else{\n  res_humi = \"mais seco\";\n}\n\nif (context.global.localTemp() >= context.global.tempOpen()){\n  res_temp = \"mais quente\";\n}else{\n  res_temp = \"mais frio\";\n}\n\nif(context.global.locate() == \"fpolis\"){\n    context.global.locate = function(){return \"Florianopolis\"};\n}\n\nvar res = {payload: \" O clima Local está \" + \nres_temp +\" e também \" + res_humi + \" em relacao à cidade \"+\ncontext.global.locate()};\n\nreturn res;\n","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["da052d39.ad133","91352bbe.540428","21cdfe1e.7890a2"]]},{"id":"a5bc66d6.172338","type":"ui_numeric","z":"6fc82bfc.24fcb4","name":"","label":"numeric","tooltip":"","group":"98b00c9.bfe24f","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"openHum","format":"{{value}}","min":0,"max":10,"step":1,"x":680,"y":280,"wires":[["ce10ea53.d01748"]]},{"id":"da052d39.ad133","type":"ui_text","z":"6fc82bfc.24fcb4","group":"72f4c5ac.482c7c","order":7,"width":0,"height":0,"name":"","label":"MSG_OUT: ","format":"{{msg.payload}}","layout":"col-center","x":1050,"y":300,"wires":[]},{"id":"47ff6d16.41db54","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"11","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"8660d658.5c3228","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"41d4a8d0.28aa48","type":"ui_group","z":"","name":"Temperature","tab":"8bf5ee5c.20a2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"98b00c9.bfe24f","type":"ui_group","z":"","name":"Humidity","tab":"8bf5ee5c.20a2c","order":2,"disp":true,"width":"6","collapse":false},{"id":"72f4c5ac.482c7c","type":"ui_group","z":"","name":"OPENWEATHER","tab":"8bf5ee5c.20a2c","order":3,"disp":true,"width":"6","collapse":false},{"id":"8bf5ee5c.20a2c","type":"ui_tab","z":"","name":"sensor","icon":"dashboard","order":1,"disabled":false,"hidden":false}]